/**
* Freight Sans Medium
*/

@font-face {
  font-family: 'Freight Sans Medium';
  src: url('./../fonts/Freight Sans Medium/Freight Sans Medium.otf')  format('truetype')
}

/**
* Montserrat
 */

@font-face {
  font-family: 'Montserrat Regular';
  src: url('./../fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype')
}