$font-freight: 'Freight Sans Medium', sans-serif;
$font-mon: 'Montserrat Regular', sans-serif;

/***    colors     ***/
$white: #ffffff;
$dark-bg: #282e35;
$red: #ff503f;
$green: #aacc4e;
$light-grey: #f1f1f1;
$medium-grey: #adadad;
$border-grey: #cfcfcf;
$white-grey: #f5f5f5;
$dark-grey: #4d4f51;
$text-grey: #787878;
$nav-grey: #4c6474;

